
@{
    ViewData["Title"] = "Quadrant";
}

@model IEnumerable<ApplicationResponse>
<!--Print the data in a pretty grid quadrant style-->
<div class="container">
    <div class="row border">
        <div class="col"><h1>Stephen Covey's Time Management Matrix</h1></div>
    </div>
    <div class="row border">
        <div class="col-2 border">
        </div>
        <div class="col-5 border">
            <h3>Urgent</h3>
        </div>
        <div class="col-5 border">
            <h3>Not Urgent</h3>
        </div>
    </div>

    <div class="row border">
        <div class="col-2 border">
            <h3>Important</h3>
        </div>
        <div class="col-5 border">
            <h4>Quadrant 1</h4>
           
            @foreach (var x in Model.Where((x => (x.Quadrant == 1) && (x.Completed == false))))
            {
                <ul>
                    <li>
                    @x.Task
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Complete" asp-route-taskid="@x.TaskID">Mark as Completed</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a>
                    </li>
                </ul>
            }
            
        </div>
        <div class="col-5 border">
            <h4>Quadrant 2</h4>

            @foreach (var x in Model.Where((x => (x.Quadrant == 2) && (x.Completed == false))))
            {
                <ul>
                    <li>@x.Task
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Complete" asp-route-taskid="@x.TaskID">Mark as Completed</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>
                </ul>
            }
        </div>
    </div>

    <div class="row border">
        <div class="col-2 border">
            <h3>Not Important</h3>
        </div>
        <div class="col-5 border">
            <h4>Quadrant 3</h4>
            @foreach (var x in Model.Where((x => (x.Quadrant == 3) && (x.Completed == false))))
            {
                <ul>
                    <li>@x.Task
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Complete" asp-route-taskid="@x.TaskID">Mark as Completed</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>
                </ul>
            }
        </div>
        <div class="col-5 border">
            <h4>Quadrant 4</h4>
            @foreach (var x in Model.Where((x => (x.Quadrant == 4) && (x.Completed == false))))
            {
                <ul>
                    <li>@x.Task
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Complete" asp-route-taskid="@x.TaskID">Mark as Completed</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>
                </ul>
            }
        </div>
    </div>
</div>
